<div class="card-distance">
  <div class="card card-size" style="width: 18rem;">
    <img src="{{this.imgPath}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">Developed by {{this.author}}</p>
      <p class="card-text">Bootcamp: {{this.bootcamp}}</p>
      <a href="games/{{this._id}}" class="btn btn-secondary">EDIT</a>

    </div>
  </div>
</div>
<div></div>