<div>
  <h2>
    {{this.title}}
  </h2>

  <p>

    Bootcamp: {{this.bootcamp}}

  </p>

  <p>

    Athour: {{this.author}}

  </p>

  <p>
    Rating: {{this.rating}}
  </p>
  <p>
    <a href="games/{{this._id}}"> see details</a>
  </p>

  <p>
    
    <img src="{{this.imgPath}}" alt="screenshot">
  </p>

</div>