<div>
  <h2>Edit your game</h2>

  {{#with game}}
  <form id="form" action="/games/edit/{{_id}}" method="POST" enctype="multipart/form-data">
    <p>
      <label for="title">Title</label>
      <input type="text" name="title" placeholder="{{title}}" value="{{title}}">
    </p>
    <p>
      <label for="author">Author</label><br>
      <input type="text" name="author" value="{{author}}">

    </p>
    <!-- <p>
      <textarea for="description" rows="3" cols="80" input type="text" name="description"
        value="{{description}}">Description</textarea>
    </p>
    -->
    <p>
      <label for="bootcamp">Your Bootcamp</label><br>
      <input type="text" name="bootcamp" value="{{bootcamp}}">

    </p>

    <p>
      <label for="githubprofile">Github profile</label><br>
      <input type="text" name="githubprofile" value="{{gitHubUrl}}">
    </p>
    <p>
      <label for="gameUrl">Play link</label><br>
      <input type="text" name="link" value="{{gameUrl}}">
    </p>

    <p>
      <label>Screenshot</label>
      <input type="file" name="photo">
      <input class="hiddenImgValue" type="text" name="imgPathName" value="{{imgPath}}">
      <input class="hiddenImgValue" type="text" name="imgNameName" value="{{imgName}}">
    </p>
    <p>
      <button type="submit" value="save">Update</button>
    </p>

  </form>
  {{/with}}
</div>
