<div class="game-detail-page"> 
  <h3 class="game-detail-header">Name of your Game: {{game.title}}</h3>
  {{!-- <button class="btn btn-secondary" type="submit"><a class="game-detail-a" target="_blank" href="{{game.gameUrl}}">Play it!</a></button> --}}
  <ul>
    <!-- Open in a new window-->
    {{!-- <button class="btn btn-secondary" type="submit"><a class="game-detail-a" target="_blank" href="{{game.gameUrl}}">Play it!</a></button> --}}

    <li>Developed by: {{game.author}}</li>
    <li>Bootcamp: {{game.bootcamp}}</li>
    <div class="game-detail-img">
      <img src="{{game.imgPath}}" alt="screenshot">
    </div>

    <div class="game-detail-btns">
      {{#if user}}      
        <a href="/games/edit/{{game._id}}" class="btn btn-secondary game-detail-edit-btn">Edit</a>
        <form id="form" action="/games/delete/{{game._id}}" method="POST">
          <button class="btn btn-secondary" type="submit">Delete</button>
        </form>
        <a href="/private" class="btn btn-secondary game-detail-goback-btn">Go back</a>
      {{/if}}
    </div>
  </ul>
</div>