<h1>{{game.title}}</h1>
<ul>
  <!-- Open in a new window-->
  <li> <a target="_blank" href="{{game.gameUrl}}">Play it!</a></li>
  <li>Author: {{game.author}}</li>
  <li>Bootcamp: {{game.bootcamp}}</li>
  <li>Description: {{game.description}}</li>
  <li><img src="{{game.imgPath}}" alt="screenshot"></li>
  <li>Rating: {{game.rating}}</li>

  {{#if user}}
  <li><a href="/games/edit/{{game._id}}">Edit</a></li>
  <form id="form" action="/games/delete/{{game._id}}" method="POST">
    <button type="submit">Delete</button>

  </form>
  {{/if}}
</ul>