<h1>{{game.title}}</h1>
<ul>
  <!-- Open in a new window-->
  <li> <a href="{{game.gameUrl}}">Play it!</a></li>
  <li>Author: {{game.author}}</li>
  <li>Bootcamp: {{game.bootcamp}}</li>
  <li>Description: {{game.description}}</li>
  <li><img src="{{game.imgPath}}" alt="screenshot"></li>
  <li>Rating: {{game.rating}}</li>
  <li><a href="">Rate this Game</a></li>
</ul>