<div class="index-games-list"></div>


<div class="card-distance">
  <div class="card card-size" style="width: 18rem;">
    <img src="{{game.imgPath}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{game.title}}</h5>
      <p class="card-text">Developed by {{game.author}}</p>
      <p class="card-text">Bootcamp: {{game.bootcamp}}</p>
      {{#if user}}
      <a href="/games/edit/{{game._id}}" class="btn btn-secondary">Edit</a>
      <form id="form" action="/games/delete/{{game._id}}" method="POST">
        <button type="submit" class="btn btn-secondary">Delete</button>

      </form>
      {{/if}}

    </div>
  </div>
</div>


</div>